@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  padding: 20px 30px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.nav img {
  max-width: 100px;
}

.image {
  display: flex;
  justify-content: center;
  padding: 40px 30px;
}

.image img {
  width: 100%;
  max-width: 600px;
}

.gray {
  color: #918E9B;
}

.text {
  padding-left: 30px;
}

.text p {
  padding-right: 30%;
}

.text h1 {
  font-weight: 600;
}

.card-list {
  padding-left: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin: 50px 0 20px 0;
}

.card {
  display: flex;
  width: 176px;
  font-size: 12px;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.stars {
  display: flex;
  gap: 10px;
  align-items: center;
}

.stars img {
  width: 14px;
}

.card p span {
  font-weight: bold;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}